/* start shop-page */
.shop-top {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.shopp {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 35%;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

@media (max-width:1200px) {
    .shopp {
        left: 30%;
    }
}

@media (max-width:768px) {
    .shopp {
        left: 25%;
    }
}

@media (max-width:600px) {
    .shopp {
        left: 20%;
    }
}

@media (max-width:500px) {
    .shopp {
        left: 25%;
    }

    .shopp p {
        font-size: small;
    }
}

@media (max-width:460px) {
    .shopp {
        left: 25%;
        top: 20%;
        width: 200px;
    }
}

@media (max-width:375px) {
    .shopp {
        left: 22%;
        top: 10%;
    }
}

@media (max-width:320px) {
    .shopp {
        left: 20%;
        top: 5%;
    }
}

/* end shop-page */

/* start all-products */
.all-products span {
    color: #000;
}

.all-products .seconed {
    color: #6C7275;
}

.classification {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

.classification select {
    display: flex;
    flex-wrap: wrap;
    width: 262px;
    height: 48px;
    padding: 8px 16px;
    border: 2px solid #6c7275;
    border-radius: 8px;
    gap: 10px;
    color: #000;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0px;
}

.product-item {
    width: calc((100% - 30px) / 4);
    position: relative;
}

.product-info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}

.new {
    background-color: #fff;
    font-weight: 700;
    border: solid 2px #fff;
    padding: 0px 8px;
    border-radius: 10%;
}

.percentage {
    background-color: #38CB89;
    font-weight: 700;
    border: solid 2px #38CB89;
    padding: 0px 10px;
    border-radius: 10%;
    color: #fff;
}

.show-more {
    border: 1px solid #141718;
    text-align: center;
    border-radius: 80px;
    width: 163px;
    height: 40px;
    padding: 6px 40px;
    font-weight: 400;
}
.more-products{
    display: none;
}
@media (max-width:768px) {
    .product-item {
        width: calc((100% - 20px) / 3);
    }
}

@media (max-width:425px) {
    .product-item {
        width: calc((100% - 10px) / 2);
    }
}

@media (max-width:375px) {
    .product-item {
        width: 100%;
    }
}

/* end all-products */
/* start footer */
.footer-top {
    background-color: #38CB89;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.footer-top img {
    width: 100%;
}

.join {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    top: 25%;
    left: 30%;
    background-color: #F2F4F6;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
}

.join-hide {
    display: none;
}

.e-mail {
    border-bottom: 2px solid #6C7275;
}

.e-mail input {
    border: none;
    background-color: #F2F4F6;
}

.footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

.footer-details {
    width: 100%;
    background-color: #000;
    padding: 30px;
}

.footer-nav {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.footer-two {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-top: 2px solid #E8ECEF;
    width: 100%;
}

.footer-des {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    order: 1;
}

.footer-two .icon {
    order: 2;
}

.footer-details a {
    color: #fff;
    font-size: medium;
    font-weight: 400;
}

.Copyright {
    order: 1;
}

.Privacy {
    order: 2;
}

@media (max-width:1200px) {
    .join {
        top: 10%;
        left: 35%;
        width: fit-content;
    }
}

@media (max-width: 1024px) {
    .join {
        top: 8%;
        left: 30%;
    }

    .join h4 {
        font-size: 20px;
    }

    .join p {
        font-size: small;
    }
}

@media (max-width: 870px) {
    .hide-footer {
        display: none;
    }

    .footer .join-hide {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        background-color: #F2F4F6;
    }

    .nav-top {
        width: 100%;
    }

    .footer-two .icon {
        width: 100%;
        order: 1;
    }

    .footer-des {
        order: 2;
    }
}

@media (max-width: 870px) {
    .Copyright {
        order: 2;
        width: 100%;
    }

    .Privacy {
        order: 1;
    }
}

@media (max-width: 440px) {
    .Copyright {
        display: flex;
        flex-wrap: wrap;
        font-size: 10px;
        justify-content: center;
        align-items: center;
    }

    .Privacy {
        font-size: 15px;
    }

    .trans {
        display: none;
    }

    .footer-two .icon {
        justify-content: center;
        align-items: center;
    }

    .footer-nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-des {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* end afooter */